@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  font-family: 'Poppins', sans-serif !important;
}

body{
  /* margin: 10px; */
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

.main-app{
  background-color: #000;
  overflow-y: hidden;
}

.text-style{
  font-size: 16px !important;
  font-weight: bold !important;
}

.item-rouded{
  border-radius: 50px;
  background-color: #232323;
  font-size: 14px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
}

.text-bold{
  font-weight: bold !important;
}